#!/usr/bin/perl 
#===============================================================================
#
#         FILE:  bot.pl
#
#        USAGE:  ./bot.pl  
#
#  DESCRIPTION:  Configuration & execution file for HashBot
#
#      OPTIONS:  ---
# REQUIREMENTS:  ---
#         BUGS:  ---
#        NOTES:  ---
#       AUTHOR:  GRANT COHOE (cohoe@csh.rit.edu)
#      COMPANY:  Computer Science House
#      VERSION:  1.0
#      CREATED:  03/18/2012 03:49:25 PM
#     REVISION:  ---
#       CREDIT:  Original project inspiration and code model by George Ornbo 
#                (Shape Shed) available at https://github.com/shapeshed/Arthur
#                
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish, dis-
# tribute, sublicense, and/or sell copies of the Software, and to permit
# persons to whom the Software is furnished to do so, subject to the fol-
# lowing conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABIL-
# ITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
# SHALL THE AUTHOR BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.
#===============================================================================

# You may need to specify the path of your module:
use lib '/path/to/this/directory/';

# The usual Perl stuff
use strict;
use warnings;
use HashBot;

my $bot = HashBot->new();

# Username and OAuth credentials for the bot account and application
$bot->twitterUsername('twitterusername');
$bot->consumerKey('');
$bot->consumerSecret('');
$bot->accessToken('');
$bot->accessTokenSecret('');

# The search term that you are going to be re-tweeting
$bot->searchString('#tigerblood AND #winning');

# Do the magic.
$bot->post_to_twitter($bot->get_data());
